
.dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    /*margin-top: 20px;*/
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align:left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Hover combo city on larger screens */
@media only screen and (min-width: 768px){
  .dropdown:hover .dropdown-content {
    display: block!important;
  }
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown: .dropbtn {
    /*background-color: #f9f9f9;*/
    color: inherit;
}
