.img-responsive {
  float: left;
  min-width: 200px;
  min-height: 200px;
  max-width: 400px;
  max-height: 400px;
}

.event_detail_descriptions {
  /*margin-left: 420px;*/
  /*margin-top: 120px;*/
}

.event_detail {
  margin: 20px;
}

.event_title {
  margin-left: 30px;
}

.event-content {
  margin-top: 20px;
}
