
.EventList-image {
  margin: 0 auto;
  /*max-width: 200px;*/
  max-height: 140px;
  border-radius: 5px;
}

.EventList-list  {
  padding-left: inherit;
  list-style-type: none;
}

.EventList-li:hover {
  background-color: #f2f2f2;
}

.EventList-li {
  /*margin: 0 auto;*/
  /*border: 3px solid red;*/
  margin-bottom: 2px;
  /*margin-right: 5px;*/
  padding: 5px;
  padding-top: 20px;
  float: left;
  width: 150px;
  height: 250px;
}

.EventList-li .Event-clickeable:hover {
    color: black;
}
.EventList-li .Event-clickeable {
    color: black;
}

.Event-name {
    max-width: 200px;
}
