.event-image-photo-grid {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.padding-photo-grid-custom {
  padding-left: 5px!important;
  padding-right: 5px!important;
  padding-bottom: 5px!important;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 10%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(163, 163, 163, 0.2);
}
.modal-content {
    position: absolute!important;
    display: block;
    width: 90%;
    max-width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 80%;
    }
}
.center-modal-content {
  text-align: center;
}
.img-modal {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.close-button-modal {
  float: right;
  right: 1%;
  top: 1%;
}
.modal-dialog {
  transform: none!important;
  position: initial!important;
}
.event-details-photos-grid-row h3 {
  padding-left: 5px;
}
