.selector {
  background-color:#337ab7;
  opacity: 0.9;
}

.EventsCategory-ul {
  list-style-type: none;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width:50%;
  margin: 0 auto;
  padding-left: 0px;
}

@media screen and (max-width: 555px) {
    .EventsCategory-ul {
        width:100%;
    }
}

.EventsCategory-li {
  color: white;
  float: left;
  padding-right: 10px;
  text-align: center;
  font-weight: 500;
}

.center-block {float: none !important}
