.selector {
  background-color:#337ab7;
  opacity: 0.9;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

.EventsCategory-ul {
  list-style-type: none;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:50%;
  margin: 0 auto;
  padding-left: 0px;
}

@media screen and (max-width: 555px) {
    .EventsCategory-ul {
        width:100%;
    }
}

.EventsCategory-li {
  text-align: center;
}
.EventsCategory-li a {
  color: white;
  font-weight: 500;
}
.EventsCategory-li a:hover {
  color: white;
}
.EventsCategory-li a:focus {
  color: white;
}

.center-block {float: none !important}

.nopadding {
   padding-left: 0 !important;
}

.nopadding-container {
   padding-left: 0 !important;
   padding-right: 0 !important;
}
