.App-header {
  margin-bottom: 20px;
}
.App-header h1 {
  margin: 0;
  padding: 20px 0;
  /*border: 3px solid #73AD21;*/
  /*width: 60%;*/
}

.city_header {
  /*border: 3px solid #73AD21;*/
  margin-top: 10px;
  padding: 20px;
  text-align:center;
}

.App-content {
  /*margin: 0 auto;*/
  /*max-width: 1000px;*/
  margin-right: 32px;
}

/*.city-header {
  float: left;
  margin-top: 30px;
}*/

.text-center {
  color: white;
  /*border: 3px solid #73AD21;*/
}
