
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-weight: 400;
  background-color: #fbfbfb;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #fbfbfb;
}
