
.radio-button-selector{
  margin-right: 15px!important;
}
.hour-event-show-caption {
  font-size: 13px;
}
.btn-event-option-hour-selector {
  height: 80px;
  width: 80px;
  margin-top: 0px!important;
  border-radius: 4px!important;
}
