.carousel-inner {
  border-radius: 5px;
}
.top-porcentaje-ol {
  top: 80%;
}
@media screen and (min-width: 768px) {
  .top-porcentaje-ol {
    top: 85%;
  }
}
@media screen and (max-width: 500px) {
  .top-porcentaje-ol {
    top: 65%;
  }
}
.peopleCarouselImg {
  width: auto;
  max-height: 195px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
