.event-filter-dark-options {
  background:rgba(30,30,30,0.7);
  width: auto;
  height: auto;
  left: 0%;
  right: 0%;
  top:0%;
  bottom: 0%;
  position: absolute;
  z-index: 1;
}
.event-details-options-header {
  position: relative;
  z-index: 2;
  /*border: solid orange;*/
}
.event-title-options{
  padding-top: 30px;
  font-size: 30px!important;
  color: white;
}
.date-place-event-options {
  padding-bottom: 30px;
}
/*GREATER 768*/
@media screen and (min-width: 768px) {
    .date-place-event-options {
      display: inline-flex;
    }
}
/*LOWER 768*/
@media screen and (max-width: 768px) {
    .event-title-options {
      padding-top: 15px;
      font-size: 22px!important;
    }
    .date-place-event-options {
      padding-bottom: 15px;
    }
    /*.sticky-propeties {
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      z-index: 10;
    }*/
}
.event-place-options, .event-date-options {
  font-size:18px;
  color:white;
}
.event-place-options, .event-date-options {
  padding-right: 15px;
}
.hr-event-options {
  margin-top: 5px;
  margin-bottom: 10px;
  border-top: 1px solid #d9d9d9;
}
.date-time-header, .number-tickets-header {
  margin-top: 30px;
}
.div-button {
  /*border: solid green;*/
  text-align:center;
}
.btn-check-out-att {

  margin-top: 20px;
  width: 280px;
  height: 60px;
}
